[time-data-theme="dark"] {
	--main-bg-color: #191919;
	--main-text-color: #ffffff;
}

[time-data-theme="light"] {
	--main-bg-color: #ffffff;
	--main-text-color: #191919;
}

body {
	margin-left: 50px;
	margin-right: auto;
	padding: 50px;
	min-width: 100%;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: 'OCR A Extended';
	position: absolute;
	transform: translate(0, 20%);
}

#title {
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	display: block;
	font-size: 1em;
	font-weight: bolder;
	overflow: hidden;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

#prompt  p, #prompt2  p {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
	text-align: center;
	font-size: .8em;
	font-weight: bolder;
}


#refresh {
	/* this is a button */
	margin-left: auto;
	margin-right: auto;
	display: grid;
	padding: 2.5%;
	position: relative;
	font-size: 3.5vw;
	overflow: hidden;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-style: outset;
}