.body {
	font-family: 'OCR A Extended';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

#time, #paragraph {
	margin: 10px auto;
	position: relative;
	display: flex;
	overflow: hidden;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}