.body {
	font-family: 'OCR A Extended';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.time, h2, h3 {
	font-size: 25px;
	margin: 10px auto 10px;
	position: relative;
	display: flex;
	overflow: hidden;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

h3 {
	font-size: 20px;
}

section {
	margin: 40px;
}