@font-face {
	font-family: 'OCR A Extended';
	src: url('../assets/fonts/OCRAEXT.TTF') format('truetype');
}

:root {
	--main-bg-color: #191919;
	--main-text-color: #333;
	--main-time-color: #ffffff;
}

* {
	font-family: 'OCR A Extended';
	font-size: 20px;
	transition: all ease 0.2s;
	color: var(--main-time-color);
}

body {
	margin: 40px auto 20px;
	background: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: 'OCR A Extended';
	text-align: justify;
	overflow: hidden;
	position: relative;
}